<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>index</key>
		<integer>1</integer>
		<key>arabic</key>
		<string>الحمد لله</string>
		<key>suraIndex</key>
		<integer>1</integer>
		<key>ayaIndex</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>2</integer>
		<key>arabic</key>
		<string>سيقول السفهاء</string>
		<key>suraIndex</key>
		<integer>2</integer>
		<key>ayaIndex</key>
		<integer>142</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>3</integer>
		<key>arabic</key>
		<string>تلك الرسل</string>
		<key>suraIndex</key>
		<integer>2</integer>
		<key>ayaIndex</key>
		<integer>253</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>4</integer>
		<key>arabic</key>
		<string>كل الطعام</string>
		<key>suraIndex</key>
		<integer>3</integer>
		<key>ayaIndex</key>
		<integer>93</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>5</integer>
		<key>arabic</key>
		<string>والمحصنات</string>
		<key>suraIndex</key>
		<integer>4</integer>
		<key>ayaIndex</key>
		<integer>24</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>6</integer>
		<key>arabic</key>
		<string>لا يحب الله</string>
		<key>suraIndex</key>
		<integer>4</integer>
		<key>ayaIndex</key>
		<integer>148</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>7</integer>
		<key>arabic</key>
		<string>وإذا سمعوا</string>
		<key>suraIndex</key>
		<integer>5</integer>
		<key>ayaIndex</key>
		<integer>82</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>8</integer>
		<key>arabic</key>
		<string>ولو أننا نزلنا</string>
		<key>suraIndex</key>
		<integer>6</integer>
		<key>ayaIndex</key>
		<integer>111</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>9</integer>
		<key>arabic</key>
		<string>قال الملأ</string>
		<key>suraIndex</key>
		<integer>7</integer>
		<key>ayaIndex</key>
		<integer>88</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>10</integer>
		<key>arabic</key>
		<string>واعلموا</string>
		<key>suraIndex</key>
		<integer>8</integer>
		<key>ayaIndex</key>
		<integer>41</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>11</integer>
		<key>arabic</key>
		<string>يعتذرون</string>
		<key>suraIndex</key>
		<integer>9</integer>
		<key>ayaIndex</key>
		<integer>93</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>12</integer>
		<key>arabic</key>
		<string>وما من دابة</string>
		<key>suraIndex</key>
		<integer>11</integer>
		<key>ayaIndex</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>13</integer>
		<key>arabic</key>
		<string>وما أبرئ نفسي</string>
		<key>suraIndex</key>
		<integer>12</integer>
		<key>ayaIndex</key>
		<integer>53</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>14</integer>
		<key>arabic</key>
		<string>الـر</string>
		<key>suraIndex</key>
		<integer>15</integer>
		<key>ayaIndex</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>15</integer>
		<key>arabic</key>
		<string>سبحان</string>
		<key>suraIndex</key>
		<integer>17</integer>
		<key>ayaIndex</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>16</integer>
		<key>arabic</key>
		<string>قال ألم</string>
		<key>suraIndex</key>
		<integer>18</integer>
		<key>ayaIndex</key>
		<integer>75</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>17</integer>
		<key>arabic</key>
		<string>اقترب للناس</string>
		<key>suraIndex</key>
		<integer>21</integer>
		<key>ayaIndex</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>18</integer>
		<key>arabic</key>
		<string>قد أفلح</string>
		<key>suraIndex</key>
		<integer>23</integer>
		<key>ayaIndex</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>19</integer>
		<key>arabic</key>
		<string>وقال الذين لا يرجون</string>
		<key>suraIndex</key>
		<integer>25</integer>
		<key>ayaIndex</key>
		<integer>21</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>20</integer>
		<key>arabic</key>
		<string>فما كان جواب قومه</string>
		<key>suraIndex</key>
		<integer>27</integer>
		<key>ayaIndex</key>
		<integer>56</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>21</integer>
		<key>arabic</key>
		<string>ولا تجادلوا</string>
		<key>suraIndex</key>
		<integer>29</integer>
		<key>ayaIndex</key>
		<integer>46</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>22</integer>
		<key>arabic</key>
		<string>ومن يقنت</string>
		<key>suraIndex</key>
		<integer>33</integer>
		<key>ayaIndex</key>
		<integer>31</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>23</integer>
		<key>arabic</key>
		<string>وما أنزلنا</string>
		<key>suraIndex</key>
		<integer>36</integer>
		<key>ayaIndex</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>24</integer>
		<key>arabic</key>
		<string>فمن أظلم</string>
		<key>suraIndex</key>
		<integer>39</integer>
		<key>ayaIndex</key>
		<integer>32</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>25</integer>
		<key>arabic</key>
		<string>إليه يرد</string>
		<key>suraIndex</key>
		<integer>41</integer>
		<key>ayaIndex</key>
		<integer>47</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>26</integer>
		<key>arabic</key>
		<string>حـم</string>
		<key>suraIndex</key>
		<integer>46</integer>
		<key>ayaIndex</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>27</integer>
		<key>arabic</key>
		<string>قال فما خطبكم</string>
		<key>suraIndex</key>
		<integer>51</integer>
		<key>ayaIndex</key>
		<integer>31</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>28</integer>
		<key>arabic</key>
		<string>قد سمع</string>
		<key>suraIndex</key>
		<integer>58</integer>
		<key>ayaIndex</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>29</integer>
		<key>arabic</key>
		<string>تبارك</string>
		<key>suraIndex</key>
		<integer>67</integer>
		<key>ayaIndex</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>30</integer>
		<key>arabic</key>
		<string>عمّ</string>
		<key>suraIndex</key>
		<integer>78</integer>
		<key>ayaIndex</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
