<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>type</key>
		<string>translit</string>
		<key>name</key>
		<string>%Qurantranslitdefault%</string>
		<key>href</key>
		<string>en.transliteration.json</string>
		<key>default</key>
		<true/>
		<key>size</key>
		<integer>1503</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>type</key>
		<string>arabic</string>
		<key>name</key>
		<string>بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم</string>
		<key>subname</key>
		<string>Imlaaei</string>
		<key>href</key>
		<string>quran-simple.json</string>
		<key>default</key>
		<true/>
		<key>size</key>
		<integer>1802</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>type</key>
		<string>translation</string>
		<key>name</key>
		<string>English</string>
		<key>subname</key>
		<string>Yusuf Ali</string>
		<key>href</key>
		<string>en.yusufali.json</string>
		<key>image</key>
		<string>flags/engl.png</string>
		<key>default</key>
		<true/>
		<key>size</key>
		<integer>1401</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>type</key>
		<string>translation</string>
		<key>name</key>
		<string>Русский</string>
		<key>subname</key>
		<string>Эльмир Кулиев</string>
		<key>href</key>
		<string>ru.kuliev.json</string>
		<key>image</key>
		<string>flags/russ.png</string>
		<key>default</key>
		<false/>
		<key>size</key>
		<integer>1917</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>type</key>
		<string>sound</string>
		<key>name</key>
		<string>Abdul Basit Murattal</string>
		<key>subname</key>
		<string>Arabic</string>
		<key>href</key>
		<string>sounds/AbdulBasitMurattal</string>
		<key>image</key>
		<string>flags/arab.png</string>
		<key>default</key>
		<true/>
		<key>size</key>
		<integer>883014</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>type</key>
		<string>sound</string>
		<key>name</key>
		<string>Abdullah Basfar</string>
		<key>subname</key>
		<string>Arabic</string>
		<key>href</key>
		<string>sounds/AbdullahBasfar</string>
		<key>image</key>
		<string>flags/arab.png</string>
		<key>default</key>
		<false/>
		<key>size</key>
		<integer>843453</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>type</key>
		<string>sound</string>
		<key>name</key>
		<string>Abdurrahmaan As-Sudais</string>
		<key>subname</key>
		<string>Arabic</string>
		<key>href</key>
		<string>sounds/AbdurrahmaanAsSudais</string>
		<key>image</key>
		<string>flags/arab.png</string>
		<key>default</key>
		<false/>
		<key>size</key>
		<integer>596507</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>type</key>
		<string>sound</string>
		<key>name</key>
		<string>Ibrahim Walk</string>
		<key>subname</key>
		<string>English (translated by Sahih International)</string>
		<key>href</key>
		<string>sounds/EnglishIbrahimWalk</string>
		<key>image</key>
		<string>flags/engl.png</string>
		<key>default</key>
		<false/>
		<key>size</key>
		<integer>1528063</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>9</integer>
		<key>type</key>
		<string>image</string>
		<key>name</key>
		<string>suraTitles</string>
		<key>href</key>
		<string>suraTitles.zip</string>
		<key>default</key>
		<true/>
		<key>size</key>
		<integer>749</integer>
	</dict>
</array>
</plist>
